/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


#perfil-menu-custom a {
    font-size: 1.125rem; 
    font-weight: 700;  
    color: #41015c;   
    display: block;
    width: 100%;
    padding: 1rem 1.5;
    text-align: center;
    text-decoration: none;
}

#perfil-menu-custom a:hover {
background-color: #e3e1e3;
border-radius: 10%;
padding: auto;
}
